.body{
font-family: 'Work Sans', sans-serif;
background-color: teal;
}




.about-wrapper{
  background-color: teal;
  font-size: 30px;
}
.link{
  color: black;
}

.rotate180 {
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.rotate90 {
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}

.tabs .tab a.active {
  color: #4d4d4d;
}

.tabs .tab a {
  color: grey;
}

.tabs .tab a:hover {
  color: #4d4d4d;
}
.tabs .indicator{
  background-color: inherit;
}
