body {
  background: url(IMG_5854.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Barrio', cursive;
  font-size: 35px;
}
