html, body {
  height: 100%;
}
.parallax {
    /* The image used */
    background-image: url("IMG_4592.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#main{
  background-color: inherit;
  position: fixed;
  left:24%;
  margin-top:13%;
  font-size: 130px;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  text-shadow: 2px 2px gray;
}
#mainAlt{
  background-color: inherit;
  position: fixed;
  left:19.5%;
  margin-top:23%;
  font-size: 30px;
  font-family: 'Libre Baskerville', serif;
  color:rgb(80,0,0);
}
.navB{
  width:150px;
  background-color: inherit;
  font-family: 'Libre Baskerville', serif;
  margin:auto;
  margin-left: 5px;
  margin-right: 0px;
  position: absolute;
  color: rgb(255,255,255);
  margin-top:13%;
}
#about{
}
#skills{
}
#education{
}
#projects{
}
#awards{
}
#aboutScroll{
  margin-top:100%;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
  text-decoration: none;
  color:white;
}

/*
background: url(IMG_4592.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family:'Barrio', cursive;
font-size: 35px;*/
